@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap&subset=latin-ext');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    background-size: cover;
    background-position: center;
}

#top-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 6vw;
    font-size: 1.3rem;
}

.geolocation {
    display: inline;
    margin-right: 10px;
    font-size: 1.3rem;
    cursor: pointer;
}

.geolocation:hover {
    color: #03A9F4;
}

.geolocation.hidden {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    text-align: center;
}

time {
    font-size: 6rem;
}

h1 {
    font-size: 2.2rem;
    margin: 10px 0 50px;
    
}

form {
    margin-top: 6vh;
    width: 80vw;
    max-width: 400px;
    position: relative;
}

label {
    position: absolute;
    bottom: 10px;
    left: 0;
    font-size: 1.4rem;
    transform: translate(0,0) scale(1);
    transition: transform .3s;
}

input:focus+label, input.not-empty+label {
    transform: translate(-25px, -30px) scale(0.8);
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 1.4rem;
    /* margin-top: 10px; */
    padding-bottom: 10px;
    background-color: transparent;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

input:focus {
    outline: none;
}

#quote {
    max-width: 70%;
    margin-top: 50px;
    text-align: center;
}

#quote #text {
    font-size: 1.1rem;
    cursor: pointer;
}

#quote #author {
    font-size: 0.9rem;
    color: #999;
    font-style: italic;
    margin-top: 10px;
    opacity: 0;
    transition: opacity .2s;
}

#quote:hover #author {
    opacity: 1;
}

footer {
    width: 100%;
    padding: 20px;
}

#image-source a {
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

#image-source a:hover {
    color: #03A9F4;
}

@media (max-width: 576px){

    #time {
        font-size: 5rem;
    }

    #quote {
        display: none;
    }
}